﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready();

        function convert() {
            var name = window.$('#name').val();
            var number = window.$('#number').val();
            window.$.getJSON("api/convert?name=" + name + "&number=" + number,
                    function(data) {
                        var str = data.Name + ': ' + data.Number;
                        window.$('#items').text(str);
                    })
                .fail(
                    function(jqXhr, textStatus, err) {
                        window.$('#items').text('Error: ' + err);
                    });
        }

    </script>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>