﻿<label for="name">Name:</label>
<input type="text" id="name" size="5"/>
<label for="number">Number:</label>
<input type="text" id="number" size="5"/>
<input type="button" value="Convert" onclick="convert();"/>

<div id="items"></div>